<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.graphiti.ui.diagramTypes">
		<diagramType name="Editor Diagram Type" type="srvconfig" id="de.uks.beast.editor.editorDiagramType">
		</diagramType>
	</extension>
	<extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
		<diagramTypeProvider name="Editor Diagram Type Provider" class="de.uks.beast.editor.diagram.EditorDiagramTypeProvider"
			id="de.uks.beast.editor.editorDiagramTypeProvider">
			<diagramType
               id="de.uks.beast.editor.editorDiagramType">
			</diagramType>
		</diagramTypeProvider>
	</extension>
	
	
	
	<extension 
		point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor contributorId="srvconfig.PropertyContributor">
			<propertyCategory category="Server">
			</propertyCategory>
		</propertyContributor>
	</extension>
	<extension 
		point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor contributorId="srvconfig.PropertyContributor">
			<propertyCategory category="Network">
			</propertyCategory>
		</propertyContributor>
	</extension>
	<extension 
		point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
		<propertyContributor contributorId="srvconfig.PropertyContributor">
			<propertyCategory category="Router">
			</propertyCategory>
		</propertyContributor>
	</extension>
	
	
	
	<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs
          contributorId="srvconfig.PropertyContributor">
			<propertyTab category="Server" id="graphiti.main.tab.server" label="Config">
			</propertyTab>
		</propertyTabs>
	</extension>
	<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs
          contributorId="srvconfig.PropertyContributor">
			<propertyTab category="Network" id="graphiti.main.tab.network" label="Config">
			</propertyTab>
		</propertyTabs>
	</extension>
	<extension
      point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
		<propertyTabs
          contributorId="srvconfig.PropertyContributor">
			<propertyTab category="Router" id="graphiti.main.tab.router" label="Config">
			</propertyTab>
		</propertyTabs>
	</extension>
	
	
	
	<extension 
		point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
          contributorId="srvconfig.PropertyContributor">
			<propertySection class="de.uks.beast.editor.properties.section.ServerPropertySection"
				filter="de.uks.beast.editor.properties.filter.ServerPropertyFilter"
				id="graphiti.main.tab.server" tab="graphiti.main.tab.server">
			</propertySection>
		</propertySections>
	</extension>
	<extension 
		point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
          contributorId="srvconfig.PropertyContributor">
			<propertySection class="de.uks.beast.editor.properties.section.RouterPropertySection"
				filter="de.uks.beast.editor.properties.filter.RouterPropertyFilter"
				id="graphiti.main.tab.router" tab="graphiti.main.tab.router">
			</propertySection>
		</propertySections>
	</extension>
	<extension 
		point="org.eclipse.ui.views.properties.tabbed.propertySections">
		<propertySections
          contributorId="srvconfig.PropertyContributor">
			<propertySection class="de.uks.beast.editor.properties.section.NetworkPropertySection"
				filter="de.uks.beast.editor.properties.filter.NetworkPropertyFilter"
				id="graphiti.main.tab.network" tab="graphiti.main.tab.network">
			</propertySection>
		</propertySections>
	</extension>
 
	
</plugin>
